*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background-color: rgb(0, 26, 59);
}

.contenedor{
    background-color: rgb(0, 26, 59);
    padding:60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.titulo{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}

/*Header */
header{
    width: 100%;
    height: 600px;
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hsla(0, 89%, 72%, 0.233), #e4575223), url(../imag/portada.png);  /* Chrome 10-25, Safari 5.1-6 */ 
    background: linear-gradient(to top, hsla(0, 76%, 65%, 0.185), #db5c5821), url(../imag/portada.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.btn-block{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  .btn {
    border: none; 
    color: white; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
.primary {background-color: rgb(0, 26, 59); border: 2px solid #e61515;} 
.primary:hover {background: #e61515; color: white;}

.secondary {background-color: rgb(0, 26, 59); border: 2px solid #e61515;} 
.secondary:hover {background: #e61515; color: white;}

.success {background-color: rgb(0, 26, 59); border: 2px solid #e61515;} 
.success:hover {background-color: #e61515; color: white;}

.warning {background-color: rgb(0, 26, 59); border: 2px solid #e61515;} 
.warning:hover {background: #e61515; color: white;}

nav{
    text-align: right;
    padding: 30px 5o px 0 0;
}

nav > a{
    color:rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
div.contenedor{
    background-color: #e61515;
}

.textos-header h1{
    font-size: 50px;
    color:white;
    text-align: center;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:rgb(255, 255, 255);
    text-align: center;
}

.wave{
    position: absolute;
    bottom: 0; 
    width: 100%;
}



/*About us*/
main .sobre-nosotros
{
background-color: rgb(0, 26, 59);
padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    background-color: rgb(0, 26, 59);
    display:flex;
    justify-content: space-evenly;
}

.image-about-us{
width: 48%;

}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    color: #e61515;
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #EF3B36;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px; /*separacion en un margen inferior*/
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); /*sobreado*/
    margin-right: 5px; /*separacion en un margen lateral*/
    
}
.contenido-textos p{
    color:#fff;
    padding:0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria*/

.portafolio{
    background:  #e61515;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* para separar las imagenes*/
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.imagen-port > img{ /*Corregir el formato de las imagen a mostrar*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:flex ;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    transform: scale(0);/* animacion*/
    background: hsla(0, 0%, 100%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color:rgb(8, 8, 8);
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Cliente*/
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background-color: #EF3B36;
    display: flex;
    width: 46%;
    height: 200px;
   align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit:cover;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color:rgb(255, 255, 255);
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*our team*/

.about-services{
    background: #e61515;
    padding-bottom: 30px;
}
.service-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-ind{
    width: 20%;
    text-align: center;
}

.service-ind img{
   width: 90%;
    
}

h3{
text-align: center;
color: #ffffff;
}

.service-ind h3{
    margin: 30px;
}

.service-ind p{
    font-weight: 300;
    text-align: justify;
}

/*footer*/
footer{
    background: #151236;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom:1px solid #ccc ;

}

.content-foo{
    text-align: center;
}


.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #EF3B36;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 15px 0 0 0;
    color:rgb(255, 255, 255)
}


@media screen and(max-width:900px)
{
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos
    {
        width: 90%;
    }

    .image-about-us{
        width: 90%;
    }

    /*Galeria*/
    .imagen-port{
        width: 44%;
    }

    /*Clientes*/
    .cards{
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30%;
    }
 /*Servicios*/
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and(max-width:500px)
{
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /*About us*/

    .image-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }
    /*galeria*/

    .imagen-port{
        width: 95%;
    }

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }
    /*footer*/
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border-bottom: none;
    }

    .content-foo h4{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2; 
        padding-bottom: 20px;
    }

    .titulo-final
    {
        font-size: 20px;
    }

}